#outer
{
width:1000px;
height:auto;
min-height:1200px;
/*border:1px solid white;*/
margin:0 auto;
}
#header
{
width:1000px;
height:150px;
}
#logo
{
width:150px;
height:150px;
background-color:pink;
float:left;
}
#title
{
width:850px;
height:150px;
background-color:navy;
float:right;
color:white;
font-size:50px;
text-align:center;
line-height:150px;
}
#menu
{
width:1000px;
height:50px;
background-color:white;
margin-top:5px;
border:1px solid white;
}
#menu ul
{
list-style-type:none;
}
#menu ul li
{
display:inline;
}
#menu ul li a
{
text-decoration:none;
color:black;
font-size:20px;
padding-left:40px;
}
#menu ul li a:hover
{
color:red;
}
#slider
{
width:1000px;
height:250px;
background-color:grey;
margin-top:5px;
}
#main
{
width:1000px;
min-height:600px;
height:auto;
margin-top:5px;
}
#left
{
width:300px;
min-height:600px;
height:auto;
background-color:aqua;
float:left;
}
#right
{
width:700px;
height:auto;
min-height:600px;
background-color:white;
float:right;
}
#footer
{
width:1000px;
height:130px;
/*background-color:white;*/
margin-top:5px;
}
#lfooter
{
width:500px;
height:130px;
background-color:black;
color:white;
text-align:center;
float:left;
font-size:40px;
line-height:130px;
}
#rfooter
{
width:500px;
height:130px;
background-color:navy;
color:white;
text-align:center;
float:right;
font-size:40px;
line-height:130px;
}






