#outer
{
width:1000px;
height:auto;
min-height:1000px;
margin:0 auto;
}
#header
{
width:1000px;
height:150px;
}
#logo
{
width:150px;
height:150px;
background-color:pink;
float:left;
}
#title
{
width:850px;
height:150px;
background-color:navy;
float:right;
color:white;
font-size:60px;
text-align:center;
line-height:150px;
}
#menu
{
width:1000px;
height:50px;
background-color:white;
margin-top:5px;
border:1px solid white;
}
#menu ul
{
list-style-type:none;
}
#menu ul li
{
display:inline;
}
#menu ul li a
{
font-size:20px;
color:black;
padding-left:20px;
text-decoration:none;
}
#menu ul li a:hover
{
color:red;
}
#main
{
width:1000px;
height:auto;
min-height:700px;
background-color:white;
margin-top:5px;
border:1px solid white;
}
#footer
{
width:1000px;
height:85px;
margin-top:5px;
}
#lfooter
{
width:500px;
height:85px;
background-color:black;
color:white;
text-align:center;
font-size:40px;
float:left;
line-height:85px;
}
#rfooter
{
width:500px;
height:85px;
background-color:navy;
color:white;
text-align:center;
font-size:40px;
float:right;
line-height:85px;
}







